/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

body {
	background-color: $color__background-screen;
	color: $color__green;
	font-family: Exo;
}


/****** Header - header.php *********************/

.logo img {
	width: 500px;
	height: auto;
}

@media screen and (min-width: 1080px){
	.logo img{
		width: 700px;
	  }
}

p.site-description {
	margin-right: 0;
}

@media screen and (min-width: 1080px){
	p.site-description {
		display: flex;
		justify-content: center;
	} 
}	

/*FOOTER   footer.php*/
/*FOOTER   footer.php*/
/*FOOTER   footer.php*/

div.footer-site-info {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	margin-top: 2rem;
	width: 100%;
}

div.footer-site-info p {
	color: $color__text-main;
}

div.main-menu-navigation-container {
	display: inline-flex;
	flex-direction: row;
	margin-top: 1rem;
	align-items: center;
}

ul.footer-navigation {
	 display:	flex;
	 flex-direction: row;
}

li#menu-item-153 {
	display: flex;
	padding: 0 30px 0 0;
}

li#menu-item-154 {
	display: flex;
	padding: 0 30px 0 0;
}

li#menu-item-155 {
	display: flex;
	padding: 0 30px 0 0;
}

ul#primary-menu.footer-navigation {
	margin-top: 1rem;
	margin-left: 0;
}

/************* ABOUT page.php *************************/
/************* ABOUT page.php *************************/
/************* ABOUT page.php *************************/

@media screen and (min-width: 1080px){
	article.page.type-page {
		margin: 0 0 1.5rem;
		display: block;
		width: 80%;
		margin: auto;
	}

	article.post.type-post {
		margin: 0 0 1.5rem;
		display: block;
		width: 80%;
		margin: auto;
	}

	body.page-template-default {
		p {
			font-size: 1rem;
		}
	}
}

/*********** Archives - page-archives.php*************************/
/*********** Archives - page-archives.php*************************/
/*********** Archives - page-archives.php*************************/

@media screen and (min-width: 1080px){
	h1.entry-title,
	div.post-archives.clearfix,
	div.category-archives.clearfix,
	div.tag-archives.clearfix {
		max-width: 635px;
		margin-left: 2rem;
	}
}

header.entry-header h1.entry-title {
	color: $color__text-main;
}

h2.quote-authors {
	color: $color__text-main;
}

div.post-archives.clearfix {
color: $color__text-main;
}

div.category-archives.clearfix {
	color: $color__text-main;
}

div.category-archives.clearfix h2 {
	color: $color__text-main;
}

div.tag-archives.clearfix {
	color: $color__text-main;
}

div.tag-archives.clearfix h2 {
	color: $color__text-main;
}

ul.author-container li a {
	font-family: $font__main;
	font-size: 1.25rem !important;
}

a.tag-cloud-link {
	font-family: $font__main;
	font-size: 1.25rem !important;
}

li.cat-item {
	font-family: $font__main !important;
	font-size: 1.25rem !important;
}

ul.author-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	flex: 1 1 0;
	list-style: none;
}

ul.author-container li {
	margin-bottom: 8px;
	margin-right: 18px;
	text-decoration: none;
}

ul.category-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	flex: 1 1 0;
	list-style: none;
}

ul.category-container li {
	margin-bottom: 8px;
	margin-right: 18px;
	text-decoration: none;
}

ul.wp-tag-cloud {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	flex: 1 1 0;
	list-style: none;
}

ul.wp-tag-cloud li {
	margin-bottom: 8px;
	margin-right: 18px;
	text-decoration: none;
}

.archive {	
	.post {
		border-bottom:1px dotted white;
		padding-bottom:2rem;
	}
}

.category-display,.tag-display {
	font-size:2rem;
	border-bottom:1px dotted white;
	padding-bottom:2rem;
}

.post-archives,
.category-archives,
.tag-archives {
 ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding-right:1rem;
      a {
        text-decoration: none;
      }
    }
   }
}


@media screen and (min-width: 1080px){
	div.quotation-location-placement:not(.home) {
	max-width: 1080px;
	margin: auto;
	}
}


/*  Home page - front-page.php  */
/*  Home page - front-page.php  */
/*  Home page - front-page.php  */

div#content.site-content {
	margin: 1rem 1rem 1rem;
}

@media screen and (min-width: 1080px){
	div#content.site-content{
		margin: 4rem 10rem 1rem;
	}
}

h2.entry-title {
  color:$color__text-main;
}

div.entry-content p{
	color: $color__text-main;
}

button#new-quote-button {
	background-color: #222;
	border: 2px solid #0c0;
	border-radius: 3px;
	color: #0c0;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: .75rem 2.25rem;
	margin: auto;
	margin-top: 2.5rem;
}

@media screen and (min-width: 620px){
	#new-quote-button {
		font-size: 1.25rem;
	}
}	

@media screen and (min-width: 1080px){
  button#new-quote-button {
		margin-left: 35%;
	}
}

@media screen and (min-width: 1080px){
	div#content.site-content {   //div.quotation-location-placement:not(.home)
		&::before{
			position: absolute;
			left: 1%;
			top:35%;
			content:"\f10d";
			font-family:'fontawesome';
			color:$color__green;
			font-size:8rem;
			margin-left: 2rem;
		}
	}

	div#content.site-content {    //div.quotation-location-placement:not(.home)
		&::after{
			position: absolute;
			right:10%; 
			top:35%;
			content:"\f10e";
			font-family:'fontawesome';
			color:$color__green;
			font-size:8rem;
			margin-left: 3rem;
		}
	}
	
	.entry-content{
		font-size:2rem;
	}
	
	#new-quote-button{
		margin-left:35%;
	}
	
	header.page-header h1.page-title{
		text-align: center;
	}
}
	
// @media screen and (min-width: 1080px){
// 	div.quotation-location-placement {
// 		:before{
// 			position: absolute;
// 			left:10%;
// 			top:35%;
// 			content:"\f10d";
// 			font-family:'fontawesome';
// 			color:$color__green;
// 			font-size:8rem;
// 		}
// 		:after{
// 			position: absolute;
// 			right:10%;
// 			top:35%;
// 			content:"\f10e";
// 			font-family:'fontawesome';
// 			color:$color__green;
// 			font-size:8rem;
// 		}
// 	}
// }


article.post.post-type.status-publish {
	font-size: 2rem;
}


/*********** Error page - 404.php ***********/
/*********** Error page - 404.php ***********/
/*********** Error page - 404.php ***********/

.error404 {
  .search-form {
    display:flex;
  }

  .search-box {
    border:none;
    padding:0;
  }

  .search-submit {
    background-color:none; 
    border:none; 
    border-radius: none; 
    color: #0c0;
    padding:none; 
    padding: 0;
    padding-left: 1rem;
  }
}

button.search-submit {
	height: 1rem;
}

/******* Search Results - *****************************/

.search-results { 
		.page-title {
			font-weight:400;
			border-bottom:1px dotted #fff;
			padding-bottom:2rem;
		}
	}
	
	@media screen and (min-width: 620px) {
		.entry-title { 
			font-size:2rem;
		}
	}

/******** Submit quote - page_submit.php *************************/
/******** Submit quote - page_submit.php *************************/
/******** Submit quote - page_submit.php *************************/

.quote-source-url-box {
	padding-bottom:2rem;
	margin-bottom:1rem;
}
.quote-author-box {
	display: flex;
	flex-direction: column;
}
.quote-submission-wrapper {
	div:nth-child(-n+4) {
		padding-bottom:1rem;
			input:nth-child(-n+4) {
			margin-top:1rem;
			}
	}
}

@media screen and (min-width: 620px){
	.quote-source-box{
		display:flex;
		flex-direction: column;
	}

	.quote-source-url-box{
		display:flex;
		flex-direction: column;
	}

	.quote-submission-wrapper{
		input:nth-child(-n+4){
			width:60%;
		}
	}
}

/*Archives page categories et al - archive.php*/

h1#archive-page-title.page-title {
	color: $color__text-main;
}

section#archive-white-font.white-font{
	color: $color__text-main;
}

@media screen and (min-width: 1080px){
	h1#archive-page-title.page-title {
		text-align: center;
	}
}

// .archive h1.page-title {
// 	border-bottom: 1px dotted #fff;
// }

div.quotation-location-placement {
	text-align: left;
 	margin-left: 2rem;
}


@media screen and (min-width: 1080px){
	div.quotation-location-placement {
		// text-align: center;
 		margin: auto;
 	}
}
